In [1]:
!ls

09_Jan_2023BexarCriminal.pkl		  Prison_Notebook
2022-04-04-raspios-bullseye-armhf.img.xz  SBA_PPP_Notebook_Work
29_Dec_2022BexarCriminal.pkl		  Texas_Covid_Data_Notebook
30_Dec_2022BexarCriminal.pkl		  Untitled.ipynb
AWS_Work				  esphome_work
Bexar_Records				  nohup.out
HHS_COVID_Notebook			  system_scanning
JHU_Covid_Notebooks			  temp
NewChromebookKey.pem			  test

In [2]:
import pandas as pd
import pickle

In [4]:
with open('29_Dec_2022BexarCriminal.pkl', 'rb') as ifile:
    Dec29_df = pickle.load(ifile)

In [5]:
with open('30_Dec_2022BexarCriminal.pkl', 'rb') as ifile:
    Dec30_df = pickle.load(ifile)

In [10]:
with open('09_Jan_2023BexarCriminal.pkl', 'rb') as ifile:
    Jan09_df = pickle.load(ifile)

In [13]:
Jan09_df.columns

Index(['CASE-CAUSE-NBR', 'FULL-NAME', 'ALIAS', 'SEX', 'RACE', 'BIRTHDATE',
       'SID', 'JUDICIAL-NBR', 'ADDR-HOUSE-NBR', 'HOUSE-SUF',
       'ADDR-PRE-DIRECTION', 'ADDR-STREET', 'ADDR-STREET-SUFFIX',
       'ADDR-POST-DIRECTION', 'ADDR-UNIT', 'ADDR-CITY', 'ADDR-STATE',
       'ADDR-ZIP-CODE', 'ADDR-ZIP-PLUS-4', 'OFFENSE-DATE', 'OFFENSE-CODE',
       'OFFENSE-DESC', 'OFFENSE-TYPE', 'REDUCED-OFFENSE-CODE',
       'REDUCED-OFFENSE-DESC', 'REDUCED-OFFENSE-TYPE', 'LOCATION',
       'CUSTODY-DATE', 'COMPLAINT-DATE', 'FILING-AGENCY-DESCRIPTION',
       'CASE-DATE', 'CASE-DESC', 'SETTING-DATE', 'SETTING-TYPE', 'G-JURY-DATE',
       'G-JURY-STATUS', 'DISPOSITION-DATE', 'DISPOSITION-CODE',
       'DISPOSITION-DESC', 'JUDGEMENT-DATE', 'JUDGEMENT-CODE',
       'JUDGEMENT-DESC', 'SENTENCE-DESC', 'SENTENCE', 'SENTENCE-START-DATE',
       'SENTENCE-END-DATE', 'FINE-AMOUNT', 'COURT-COSTS', 'COURT-TYPE',
       'COURT', 'POST-JUDICIAL-FIELD', 'POST-JUDICIAL-DATE', 'BOND-DATE',
       'BOND-STATUS', 'BOND-AMOUNT', 'BONDSMAN-NAME', 'ATTORNEY',
       'ATTORNEY-BAR-NBR', 'ATTORNEY-APPOINTED-RETAINED', 'INTAKE-PROSECUTOR',
       'OUTTAKE-PROSECUTOR', 'PROBATION-PROSECUTOR', 'REVOKATION-PROSECUTOR',
       'ORIGINAL-SENTENCE', 'Unnamed: 64', 'BIRTHDATE_dt', 'OFFENSE-DATE_dt'],
      dtype='object')

In [15]:
Jan09_df[~ Jan09_df['CASE-CAUSE-NBR'].isin(Dec30_df['CASE-CAUSE-NBR'])]

,CASE-CAUSE-NBR,FULL-NAME,ALIAS,SEX,RACE,BIRTHDATE,SID,JUDICIAL-NBR,ADDR-HOUSE-NBR,HOUSE-SUF,...,ATTORNEY-BAR-NBR,ATTORNEY-APPOINTED-RETAINED,INTAKE-PROSECUTOR,OUTTAKE-PROSECUTOR,PROBATION-PROSECUTOR,REVOKATION-PROSECUTOR,ORIGINAL-SENTENCE,Unnamed: 64,BIRTHDATE_dt,OFFENSE-DATE_dt
669,2020CR10577,"ACOSTA, ANTHONY DARON",,M,B,08/06/2000,1090148,1947662,3507,,...,21320500,A,,"FERNANDEZ, VICTORIA A",,,003YR00MTH00DYS000HR,NaN,2000-08-06,2020-01-01
756,2023CR0054,"ACOSTA, DANNY",,M,L,10/09/1984,775031,2095710,822,,...,24082558,A,"MAETZOLD, LAURA N",,,,,NaN,1984-10-09,2022-10-24
757,2023CR0055,"ACOSTA, DANNY",,M,L,10/09/1984,775031,2095711,822,,...,24082558,A,"MAETZOLD, LAURA N",,,,,NaN,1984-10-09,2022-10-24
1592,2022CR0491,"ADAMES, JEFFREY A",X,M,L,04/16/1973,537615,2026641,5642,,...,24048675,A,,"MARTIN, MICHELLE T","MARTIN, MICHELLE T",,005YR00MTH00DYS000HR,NaN,1973-04-16,2021-07-02
8073,2023CR0068,"ALMAND, CODY RYAN",,M,W,07/01/1989,962607,2093964,10811,,...,24095791,A,"ARNOLD, ANTHONY A",,,,,NaN,1989-07-01,2022-10-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396625,2022CR7830,"WILLIAMS, JEFFREY ALLEN",,M,B,06/06/1988,1146736,2014725,8227,,...,789809,A,"CORTEZ, DEBBIE CRUZ",,,,,NaN,1988-06-06,2021-04-13
399220,2023CR0027,"WINDRUM, ASHLEY STARR",,F,W,10/31/2005,1171150,2096942,8527,,...,24062676,H,,,,,,NaN,2005-10-31,2022-11-01
400082,2020CR5130,"WOOD, TODD RICHARD",,M,W,05/09/1965,540043,1961001,422,,...,794895,A,,"IRWIN, CAITLIN E","IRWIN, CAITLIN E","IRWIN, CAITLIN E",002YR00MTH00DYS000HR,NaN,1965-05-09,2020-03-23
404660,2022CR1117B,"ZAPATA, ELIAS",X,M,L,01/12/1975,537309,2045477,1502,,...,4245500,A,"HAYES, MARY CATHERINE",,,,,NaN,1975-01-12,2021-11-08
406222,2023CR0033,"ZUAZUA, ANTONIO JR",,M,W,12/04/1954,1022555,2064009,11207,,...,24000593,H,,,,,,NaN,1954-12-04,2022-03-27

In [22]:
Jan09_df[Jan09_df['CASE-CAUSE-NBR'].str.contains('2020CR10577')]

,CASE-CAUSE-NBR,FULL-NAME,ALIAS,SEX,RACE,BIRTHDATE,SID,JUDICIAL-NBR,ADDR-HOUSE-NBR,HOUSE-SUF,...,ATTORNEY-BAR-NBR,ATTORNEY-APPOINTED-RETAINED,INTAKE-PROSECUTOR,OUTTAKE-PROSECUTOR,PROBATION-PROSECUTOR,REVOKATION-PROSECUTOR,ORIGINAL-SENTENCE,Unnamed: 64,BIRTHDATE_dt,OFFENSE-DATE_dt
669,2020CR10577,"ACOSTA, ANTHONY DARON",,M,B,08/06/2000,1090148,1947662,3507,,...,21320500,A,,"FERNANDEZ, VICTORIA A",,,003YR00MTH00DYS000HR,NaN,2000-08-06,2020-01-01

In [23]:
Dec29_df[Dec29_df['CASE-CAUSE-NBR'].str.contains('2020CR10577')]

Empty DataFrame
Columns: [CASE-CAUSE-NBR, FULL-NAME, ALIAS, SEX, RACE, BIRTHDATE, SID, JUDICIAL-NBR, ADDR-HOUSE-NBR, HOUSE-SUF, ADDR-PRE-DIRECTION, ADDR-STREET, ADDR-STREET-SUFFIX, ADDR-POST-DIRECTION, ADDR-UNIT, ADDR-CITY, ADDR-STATE, ADDR-ZIP-CODE, ADDR-ZIP-PLUS-4, OFFENSE-DATE, OFFENSE-CODE, OFFENSE-DESC, OFFENSE-TYPE, REDUCED-OFFENSE-CODE, REDUCED-OFFENSE-DESC, REDUCED-OFFENSE-TYPE, LOCATION, CUSTODY-DATE, COMPLAINT-DATE, FILING-AGENCY-DESCRIPTION, CASE-DATE, CASE-DESC, SETTING-DATE, SETTING-TYPE, G-JURY-DATE, G-JURY-STATUS, DISPOSITION-DATE, DISPOSITION-CODE, DISPOSITION-DESC, JUDGEMENT-DATE, JUDGEMENT-CODE, JUDGEMENT-DESC, SENTENCE-DESC, SENTENCE, SENTENCE-START-DATE, SENTENCE-END-DATE, FINE-AMOUNT, COURT-COSTS, COURT-TYPE, COURT, POST-JUDICIAL-FIELD, POST-JUDICIAL-DATE, BOND-DATE, BOND-STATUS, BOND-AMOUNT, BONDSMAN-NAME, ATTORNEY, ATTORNEY-BAR-NBR, ATTORNEY-APPOINTED-RETAINED, INTAKE-PROSECUTOR, OUTTAKE-PROSECUTOR, PROBATION-PROSECUTOR, REVOKATION-PROSECUTOR, ORIGINAL-SENTENCE, Unnamed: 64, BIRTHDATE_dt, OFFENSE-DATE_dt]
Index: []

[0 rows x 67 columns]

In [24]:
Dec29_df[Dec29_df['FULL-NAME'].str.contains('ACOSTA') & Dec29_df['FULL-NAME'].str.contains('DARON')]

Empty DataFrame
Columns: [CASE-CAUSE-NBR, FULL-NAME, ALIAS, SEX, RACE, BIRTHDATE, SID, JUDICIAL-NBR, ADDR-HOUSE-NBR, HOUSE-SUF, ADDR-PRE-DIRECTION, ADDR-STREET, ADDR-STREET-SUFFIX, ADDR-POST-DIRECTION, ADDR-UNIT, ADDR-CITY, ADDR-STATE, ADDR-ZIP-CODE, ADDR-ZIP-PLUS-4, OFFENSE-DATE, OFFENSE-CODE, OFFENSE-DESC, OFFENSE-TYPE, REDUCED-OFFENSE-CODE, REDUCED-OFFENSE-DESC, REDUCED-OFFENSE-TYPE, LOCATION, CUSTODY-DATE, COMPLAINT-DATE, FILING-AGENCY-DESCRIPTION, CASE-DATE, CASE-DESC, SETTING-DATE, SETTING-TYPE, G-JURY-DATE, G-JURY-STATUS, DISPOSITION-DATE, DISPOSITION-CODE, DISPOSITION-DESC, JUDGEMENT-DATE, JUDGEMENT-CODE, JUDGEMENT-DESC, SENTENCE-DESC, SENTENCE, SENTENCE-START-DATE, SENTENCE-END-DATE, FINE-AMOUNT, COURT-COSTS, COURT-TYPE, COURT, POST-JUDICIAL-FIELD, POST-JUDICIAL-DATE, BOND-DATE, BOND-STATUS, BOND-AMOUNT, BONDSMAN-NAME, ATTORNEY, ATTORNEY-BAR-NBR, ATTORNEY-APPOINTED-RETAINED, INTAKE-PROSECUTOR, OUTTAKE-PROSECUTOR, PROBATION-PROSECUTOR, REVOKATION-PROSECUTOR, ORIGINAL-SENTENCE, Unnamed: 64, BIRTHDATE_dt, OFFENSE-DATE_dt]
Index: []

[0 rows x 67 columns]

In [27]:
Jan09_df[(Jan09_df['FULL-NAME'].str.contains('ACOSTA') & Jan09_df['FULL-NAME'].str.contains('DARON'))]

,CASE-CAUSE-NBR,FULL-NAME,ALIAS,SEX,RACE,BIRTHDATE,SID,JUDICIAL-NBR,ADDR-HOUSE-NBR,HOUSE-SUF,...,ATTORNEY-BAR-NBR,ATTORNEY-APPOINTED-RETAINED,INTAKE-PROSECUTOR,OUTTAKE-PROSECUTOR,PROBATION-PROSECUTOR,REVOKATION-PROSECUTOR,ORIGINAL-SENTENCE,Unnamed: 64,BIRTHDATE_dt,OFFENSE-DATE_dt
669,2020CR10577,"ACOSTA, ANTHONY DARON",,M,B,08/06/2000,1090148,1947662,3507,,...,21320500,A,,"FERNANDEZ, VICTORIA A",,,003YR00MTH00DYS000HR,NaN,2000-08-06,2020-01-01